@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto+Slab:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body {
    background-color: black;
}
.header {
    font-family: "Poppins",sans-serif;
    display: flex;
    position: relative;
}
.header ul li {
    padding: 0 10px;
    cursor: pointer;
    font-size: x-large;
    position:relative;
}
.header ul{ 
    display: flex;
    position: fixed;
    height: 62px;
    width: 100%;
    background-color: white;
    color: black;
    align-items: center;
    list-style-type: none;
    text-shadow: 5px;
}
#logo {
    font-style: italic;
    font-size: xx-large;
    color: green;
}
#homeicon {
    background-color: white;
    width: 30px;
    height: 30px;
}
.body {
    background-color: rgb(0,0,0);
    width: 100%;
}
#image{
    padding: 70px;
    display: block;
    width: 100%;
    height: 800px;
}
.midupper{
    display: flex;
}
.midmid {
    background-color: black;
    color: greenyellow;
    width: 70%;
    margin-left: 15%;
    border-radius: 2%;
}
.midmid h1{
    text-align: center;
    font-size: xx-large;
}
.midmid h2{
    padding: 25px; 
    text-align: center;
}
.midmid #para{
    text-align: justify;
    padding: 30px;
    color: black;
    background-color: blanchedalmond;
    width: 65%;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
}

.midmid video {
    margin: auto;
    width: 60%;
    display: block;
}

.midmid img {
    margin: auto;
    padding-left: 10vw;
}

#appletree {
    display: flex;
    align-items: center;
}
#appletree img {
    position: inherit;
    /* display: flex; */
    padding: 2.5% 0.5%;
    margin: 0 5%;
    /* margin-right: 40%; */
    height: 300px;
    width: 420px;
}
#cometvid{
    padding: 50px;
    margin-left: 17%;
    height: 400px;
}
.story h1{
    padding-top: 30px;
}
.story p {
    color: yellow;
    font-family: "Poppins",sans-serif;
    text-align: center;
    font-size: x-large;
    padding-bottom: 15px;
}
.midlower {
    margin-top: 100px ;
    background-color: black;
    color: greenyellow;
    width: 70%;
    margin-left: 15%;
    border-radius: 15px;
    padding: 60px;
}
.midlower h1 {
    padding-bottom: 10px;
}
.midlower ul li {
    color: black;
    background-color: burlywood;
    list-style-type: none;
    width: 50%;
    padding: 10px 10px;
    font-size: x-large;
    border-radius: 10px;
}
